@charset “UTF-8”;
/*Adjust margins to make background colours work*/
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/*change footer body colour*/
body {
    background-color: #3f664a;
}

/*Change banner colour and logo padding*/
#greenid-hosted-logo {
    padding: 12px 30px 12px 16px;
    background: #3f664a;
}

/* Page footer colour */
#greenid-hosted-powered-by-gbg {
    background: #3f664a;
    padding-top: 20px;
}

/* Primary button colour */
.greenid-so-content #greenid-container .btw-primary,
.greenid-so-content #greenid-container[data-eq-state~="xsmall"] .btn-primary,
#greenid-biometric-content .greenid-so-content #greenid-container #webscanRoot .button.button--primary
{
    background-color: #3f664a;
	border-radius: 999px;

}

/* The 'help' icons on data entry forms */
#greenid-container #greenid-source-header #greenid-source-title a .glyphicon,
#greenid-container .greenid-helpicon, #greenid-container .greenid-helpicon-alt
{
    color: #3f664a;
}

/*background box*/
.well
{
    background-color: #a8d382;
    border: 2px solid gray;
    border-radius: 25px;
}

/* Fields styling, for data entry forms */
.greenid-so-content #greenid-container label
{
	font-weight: bold;
}
